plugins/se-skills/skills/dynatrace-pptx-skill/assets/*.potx filter=lfs diff=lfs merge=lfs -text
plugins/se-skills/skills/dynatrace-pptx-skill/assets/*.png  filter=lfs diff=lfs merge=lfs -text
plugins/se-skills/skills/dynatrace-pptx-skill/assets/*.svg  filter=lfs diff=lfs merge=lfs -text
